@model IEnumerable<TaskApi.Models.Major>

@{
    ViewBag.Title = "Major";
}

<h2>Majors</h2>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="bg-white text-center h-100 p-4 p-xl-5">

        @foreach (var item in Model)
        {

            <h4 class="mb-3"> @item.Major_Name</h4>

        }
    </div>
